# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environments
venv/
env/
.venv/

# ---- Flask ----
instance/
*.db
*.sqlite
*.sqlite3

# ---- PyCharm ----
.idea/
*.iml

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Cache ----
.cache/
.pytest_cache/
